apiVersion: v1
kind: Secret
metadata:
  namespace: crossplane-system
  name: example-provider-secret
type: Opaque
stringData:
  credentials: |
    { "seed": 1 }
---
apiVersion: providercards.aaroneaton.com/v1alpha1
kind: ProviderConfig
metadata:
  name: example
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: example-provider-secret
      key: credentials
---
apiVersion: v1
kind: Secret
metadata:
  namespace: crossplane-system
  name: example2-provider-secret
type: Opaque
stringData:
  credentials: |
    { "seed": 2 }
---
apiVersion: providercards.aaroneaton.com/v1alpha1
kind: ProviderConfig
metadata:
  name: example2
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: example2-provider-secret
      key: credentials
